<h3>Test work for ISONE</h3>

<leaflet lf-center="moscow" markers="markers" decorations="decorations" width="100%" height="480px"></leaflet>
<div style="width:100%; height:100%" id="map"></div>
<br />
<p>Координаты</p>
<ul>
    <li><input type="number" step="any" ng-model="moscow.lat" /> Широта</li>
    <li><input type="number" step="any" ng-model="moscow.lng" /> Долгота</li>
    <li><input type="number" step="any" ng-model="moscow.zoom" /> Масштаб</li>

    <li><input type="number" step="any" ng-model="markers.m0.iconAngle" /> вращение маркера m0</li>
    <li><input type="number" step="any" ng-model="markers.m1.iconAngle" /> вращение маркера m1</li>
</ul>
<br />